@import '../../theme.colors.scss';
@import "~bootstrap/dist/css/bootstrap.css";

.toolbar{
    background-color: mat-color($app-primary);
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
    top: 0;
    position: fixed;
    text-align: center;
    
}

.example-container {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: white;
    
  }

  .button-class{
      color: #000;
      height: 50px;
      text-align: center;
      width: 100%;
      
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top : 115px;
    width: 25%;

}

 .card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0.5%;
    margin-bottom:0.5%;
    width: 100%;
    background-color: white; 
    color: black;
    font-size:1.25vw;
}

.card-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:150PX;
    width: 75%;
   
}

button:hover {
    color:#A7FFEB;
  }
  
  /* selected link */
 button:active {
    color:mat-color($app-primary);
 }

 button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
    }