<div>
    <mat-card class="center">
        <mat-card-title>Search Students Results</mat-card-title>
        <mat-card-subtitle>Search by Student Id or Batch</mat-card-subtitle>
        <mat-card-content>
            <form [formGroup] = "dataForm">
                <mat-form-field>
                    <mat-label>Batch</mat-label>
                    <mat-select placeholder="Batch" formControlName="batch">
                        <mat-option *ngFor="let year of range" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Student Id</mat-label>
                    <mat-select placeholder="Student Id" formControlName="stuId">
                        <mat-option *ngFor="let id of students" [value]="id">
                            {{id}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
            </form>
            <div>
                <!-- <mat-table #table>
                </mat-table> -->
            </div>
        </mat-card-content>
    </mat-card>
</div>
