<div>
    <mat-toolbar class="toolbar">
        <div class="row">
            <p></p>
            <div class="col-xs-3 col-md-3">
                <button style="float: left;" mat-icon-button (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="col-xs-5 col-md-6">
                <p>Unimap Student Management System</p>
            </div>

        </div>


    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #snav mode="side" style="background-color: #26A69A;">
            <mat-nav-list style="margin-left: 15px;margin-right: 15px;">
                <button class="button-class" routerLink="newstudent">Add New Students</button>
            </mat-nav-list>
            <mat-nav-list style="margin-left: 15px;margin-right: 15px;">
                <button class="button-class" mat-button>Update Student Profile</button></mat-nav-list>
            <mat-nav-list style="margin-left: 15px;margin-right: 15px;">
                <button class="button-class" mat-button>Search Student</button></mat-nav-list>
            <mat-nav-list style="margin-left: 15px;margin-right: 15px;">
                <button class="button-class" mat-button>Add Results</button></mat-nav-list>
            <mat-nav-list style="margin-left: 15px;margin-right: 15px;">
                <button class="button-class" mat-button>Update Results</button></mat-nav-list>
            <mat-nav-list style="margin-left: 15px;margin-right: 15px;">
                <button class="button-class" mat-button>View Results</button></mat-nav-list>


        </mat-sidenav>

        <mat-sidenav-content>
            
            <div style="overflow: scroll;">
            <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>