@import "~bootstrap/dist/css/bootstrap.css";
@import '../../theme.colors.scss';

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top : 70px;
    width: 70%;
    height: 80%;
    background-color: white;
    padding: 5%;
    color: black;
    text-align: center;
}

.form{
    float: left;
    visibility: visible;

}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  mat-form-field.mat-form-field {
    font-size: 1.25vw;
    color: black;
  }

  input {
    display: block;
}

.example-75-width {
  width: 77%;
}

.example-25-width {
  width: 25%;
}

.example-50-width {
  width: 38%;
}

.button {
  margin-left: 0 ;
  margin-right: 0 ;
  width: 15%;
  background-color: mat-color($app-primary);
  color: black;
  font-size:1.5vw;
  text-align: center;
}

  